{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}



{% block content %}
<div class="row">
    <div class="col-9">
        <h2>カテゴリー一覧</h2>
        {% for category in object_list %}
        <div class="card bg-dark text-white">
            <img src="{{category.image.url}}" class="card-img" width='30%' height="200" alt="{{category.title}}">
            <div class="card-img-overlay">
                <h5 class="card-title">{{category.title}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                {% if user.is_authenticated %}
                <a href="{% url 'compe:problem' category.pk %}" class="btn btn-primary">開く</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <div class="p-4">
            <h4>課題一覧</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ problem }}</li>
                <li class="list-group-item">{{ problem }}</li>
                <li class="list-group-item">{{ problem }}</li>
                <li class="list-group-item">{{ problem }}</li>
            </ul>
        </div>
        <div class="p-4">
            <span class="badge bg-light text-dark m-1">Light</span>
            <span class="badge bg-light text-dark m-1">Light</span>
            <span class="badge bg-light text-dark m-1">Light</span>
        </div>
    </div>
</div>

{% endblock content %}